[alias]
	br = branch
	ci = commit
	cm = commit -m
	co = checkout
	di = diff
	diw = diff --color-words
	dit = difftool
	dc = diff --cached
	dcw = diff --cached --color-words
	dct = difftool --cached
	fap = fetch --all --prune
	pr = pull --rebase
	sp = stash pop
	st = status
	tree = log --graph --decorate --oneline --all
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = gvim -f
[diff]
	tool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[push]
	default = simple
[user]
	name = Jochen Kupperschmidt
	email = jk@local
