[alias]
	ap = add -p
	br = !git --no-pager branch
	ci = commit
	cm = commit -m
	co = checkout
	cob = !git branch | grep -v '^\\*' | cut -b 3- | sort -r | sk --prompt 'branch to checkout> ' | xargs git checkout
	cp = cherry-pick
	di = "!git diff --color $@ | diff-so-fancy"
	diw = diff --color-words
	dit = difftool
	dc = "!git diff --cached --color $@ | diff-so-fancy"
	dcw = diff --cached --color-words
	dct = difftool --cached
	fap = fetch --all --prune
	pr = pull --rebase
	sp = stash pop
	st = status -sb
	tree = log --graph --decorate --oneline --all
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = gvim -f
[diff]
	tool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[push]
	default = simple
[sequence]
	editor = interactive-rebase-tool
[user]
	name = Jochen Kupperschmidt
	email = jk@local
